body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #f1f5f9;
}

.header {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  color: #4ade80;
}

.header h1 {
  margin: 0;
  color: white;
}

.main {
  padding: 20px;
  text-align: center;
  background: #1e293b;
  margin: 15px;
  border-radius: 12px;
}

h2 {
  color: darkolivegreen;
}

p {
  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto 15px;
  color: darkolivegreen;
}

img {
  display: block;
  margin: 20px auto;
  width: 90%;
  max-width: 350px;
  border-radius: 12px;
}

.footer {
  background: #1e293b;
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    padding: 30px 20px;
  }

  .main {
    max-width: 700px;
    margin: 25px auto;
    padding: 30px;
  }

  img {
    max-width: 450px;
  }

  p {
    max-width: 600px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 40px 20px;
  }

  .main {
    max-width: 900px;
    padding: 40px;
  }

  img {
    max-width: 550px;
  }

  p {
    max-width: 700px;
    font-size: 18px;
  }
}
